DB_HOST=localhost
DB_PORT=3306
MYSQL_ROOT_PASSWORD=change-me-root
MYSQL_DATABASE=donaciones_db
MYSQL_USER=change-me-user
MYSQL_PASSWORD=change-me-password
SPRING_DATASOURCE_PASSWORD=change-me-root
APP_PORT=8084
RABBITMQ_USER=change-me-rabbit-user
RABBITMQ_PASS=change-me-rabbit-password
